Package: nita-robot-4.1
Version: 21.7-1
Section: base
Priority: optional
Architecture: all
Maintainer: Ashley Burston <aburston@juniper.net>, Hugo Ribeiro <hribeiro@juniper.net>
Description: Robot addon for NITA base package
 Copyright Juniper Networks 2020
 Apache License Version 2.0, January 2004, http://www.apache.org/licenses/
